<footer id="footer">
	<div id="footer-inner">
		<ul class="footer-entries">
			<li class="footer-column">
				<span class="footer-column-title">Projects</span>
				<div class="footer-column-elements">
					<a href="{{ "/projects/rne-report/" | relative_url }}">Report about RNE in France</a>
					<a href="{{ "/projects/isf2017-report/" | relative_url }}">Report about ISF in 2017</a>
				</div>
			</li>
			<li class="footer-column">
				<span class="footer-column-title">News</span>
				<div class="footer-column-elements">
					<a href="{{ "/#posts" | relative_url }}">Posts</a>
					<a href="{{ "/feed.xml" | relative_url }}">RSS feed</a>
				</div>
			</li>
			<li class="footer-column">
				<span class="footer-column-title">About</span>
				<div class="footer-column-elements">
					<a href="https://github.com/mlaunois">About Maxime Launois</a>
					<a href="{{ "/about/site/" | relative_url }}">About this site</a>
					<a href="{{ "/about/terms/" | relative_url }}">Terms of use</a>
					<a href="{{ "/about/privacy/" | relative_url }}">Privacy policy</a>
				</div>
			</li>
		</ul>
	</div>
	<div id="footer-copyright">
		<p>Copyright © 2018, 2019 Maxime Launois where applicable; use of information on this site is subject
		to the <a href="https://github.com/mlaunois/mlaunois.github.io/blob/master/LICENSE">Creative Commons Attribution 4.0 International License</a>.</p>
		<p>Thanks to <a href="https://github.com">GitHub</a> for hosting this site!</p>
	</div>
</footer>
