<header id="header">
	<div id="header-inner">
		<ul class="header-entries">
			<li class="header-item">
				<a class="header-link" href="{{ "/" | relative_url }}">Maxime Launois</a>
			</li>
			<li class="header-item">
				<a class="header-link" href="{{ "/projects/" | relative_url }}">Projects</a>
				<div class="header-dropdown">
					<a href="{{ "/projects/rne-report/" | relative_url }}">Report for the RNE in France</a>
					<a href="{{ "/projects/isf2017-report/" | relative_url }}">Report for the ISF in 2017</a>
				</div>
			</li>
			<li class="header-item">
				<a class="header-link" href="{{ "/docs/" | relative_url }}">Docs</a>
			</li>
			<li class="header-item">
				<a class="header-link" href="{{ "/blog/" | relative_url }}">News</a>
			</li>
		</ul>
	</div>
</header>
